.box_size {
    width: 400px;
    height: 40px;
}

.box_style {
    box-shadow: 5px 5px yellowgreen, 7px 7px 7px lime, 10px 10px 10px gray;
    background-color:lightgreen;
}

.tel_box_size {
    width: 105px;
    height: 40px;
}

.border_style {
    border: solid 0.5px;
    border-radius: 3px;
}

.align_center {
    text-align: center;
}
.align_left {
    align-items: left;
}
.align_right {
    text-align: right;
}

.div_box_size1 {
    width: 510px;
    height: 700px;
    border-radius: 15px;
}

.div_box_size2 {
    width: 410px;
    height: 700px;
}

.flex {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.margin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.margin_radio {
    margin-top: 30px;
    margin-bottom: 5px;
}

.margin_btn {
    margin-top: 20px;
    margin-bottom: 10px;
}

.margin_select {
    margin-top: 20px;
    margin-bottom: 10px;
}
